#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#fields {
  display: flex;
  flex-direction: row;
  columns: 2;
}
.fieldContainer {
  display: flex;
  flex-direction: column ;
}
.field {
  display: flex;
  flex-direction: row;
  ;
}
.result {
  display: flex;
  flex-direction: row;
}

