#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: dimgray;
}
#fields {
  display: flex;
  justify-content: space-between;
  gap: 2px; 
  margin: 5px; 
}
.sidebar {
  display: none;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
}
.offerPlacehold {
  display: flex; 
  flex-direction: column;
  padding: 20px; 
  margin-left: 15px;
  margin-right: 10px; 
  margin-bottom: 10px;
  border: 2px solid grey; 
  background-color: lightgray; 
  align-items: left;
  width: 400px; 
  height: 600px; 
}
.field {
  display: flex;
  flex-direction: row;
  ;
}
.result {
  display: flex;
  flex-direction: row;
}

